@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

main{
    /* border: 5px solid purple; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    width: 100vw;
}

.container{
    /* border: 2px solid black; */
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

.box{
    background-color: rgb(215, 235, 237);
    border: 2px solid rgb(78, 135, 150);
    box-sizing: border-box;
    border-radius: 8px;
    /* width: 300px; */
    height: 40px;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 700;
    cursor:pointer;
}

.box_displayNone{
    visibility: hidden;
}
