@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
 }

.main{
    display: grid;
    grid-template-columns: 5vw 1fr 5vw 1fr 5vw;
    grid-template-rows: 2vh 1fr 4vh 1fr 10vh;
    height: 91vh;
    width: 100vw;
    /* margin-top: 1vh; */
}

.heading{
    width:100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/6;
}

input{
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 20px;
}

.chekbox{
        box-sizing: border-box;
        border: none;
        outline: none;
        
}

.item{
    width: 42.5vw;
    height: 37vh;
    background-color: rgb(216, 250, 243);
}

.imgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18.5vh;
    width: 42.5vw;
}

.img{
    height: 18.5vh;
    width: 18.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5a4a4;
}

.infobox{
    display: flex;
    align-items: center;
    height: 18.5vh;
    width: 42.5vw;
    background: #d6f2c7;
    overflow: auto;
}

/* .info{
    overflow-y: scroll;
} */

#item1{
    grid-column: 2/3;
    grid-row: 2/3;
}
#item2{
    grid-column: 4/5;
    grid-row: 2/3;
}
#item3{
    grid-column: 2/3;
    grid-row: 4/5;
}
#item4{
    grid-column: 4/5;
    grid-row: 4/5;
}

.sub{
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 5/6;
    grid-column: 1/6;
}

#submit{
    border: none;
    outline: none;
    background-color: #f5a4a4;
    border-radius: 20px;
    width: 125px;
    height: 40px;
}

h1{
    text-shadow: 5px 5px 5px rgb(215, 192, 145);
}

.bill{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
}

.btnDiv{
    margin-top: 23px;
}

.btn{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 5px;

}

table, th, td{
    border: 2px solid;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}
